/vendor
/public/mimeicons
/cache
/logs
/build

# IDE-specific files
.idea/
.vscode/

# Build artifacts and caches
composer.lock
.phpunit.cache
.phpunit.result.cache
.coveralls.yml

# Environment files
.env
.env.testing

# Local development and CI/CD files
.circleci/
.devcontainer/
.github/

# Composer and PHPUnit
composer.json
phpunit.xml.dist
build.xml
